<link rel="stylesheet" href="assets/css/pulang-bareng.css">
<div class="box box-solid">
        <div class="box-header">
            <h3 class="box-title">General</h3>
        </div>
        <div class="box-body text-left">
            <form class="form-horizontal">
                <input type="hidden" name="_token" value="WJEot6GfpYx0RUNhxUWEchuhkwCmQvTM7gUrPAap">

                <!-- beginning of my form TODO: -->
                <!-- TICKET CODE -->
                <div class="form-group">
                    <label for="unique-code" class="col-sm-2 control-label">Room type</label>

                    <div class="col-sm-6">
                        <select type="text" class="form-control">
                          <option>Public</option>
                          <option>Private</option>
                        </select>
                      </div>
                </div>

                <!-- Name -->
                <div class="form-group">
                    <label for="order-name" class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-6">
                        <input type="text" name="name" id="order-name" class="form-control" value="">
                                            </div>
                </div>

                <!-- Address -->
                <div class="form-group">
                    <label for="order-address" class="col-sm-2 control-label">From Destination</label>

                    <div class="col-sm-6">
                        <input type="text" name="address" id="order-address" class="form-control"/>
                                            </div>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label for="order-email" class="col-sm-2 control-label">To Destination</label>

                    <div class="col-sm-6">
                        <input type="text" name="email" id="order-email" class="form-control" value="">
                                            </div>
                </div>

                <!-- Handphone -->
                <div class="form-group">
                    <label for="order-handphone" class="col-sm-2 control-label">Hour</label>

                    <div class="col-sm-6">
                        <input type="text" name="handphone" id="order-handphone" class="form-control" value="">
                                            </div>
                </div>

                <!-- end of myform -->

                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-2">
                        <button ng-click="showSuccess()" name="button" class="btn btn-success"><i class="fa fa-check"></i> Create Room</button>
                    </div>
                </div>
            </form>
        </div><!-- /.box-body -->
    </div>
