<link rel="stylesheet" href="assets/css/pulang-bareng.css">
<link rel="stylesheet" href="assets/css/search-costum.css">
<a style="width: 200px;" class="btn btn-default" href="#/my-history" role="button" ><i>Pulang Bareng</i></a><a style="width: 200px;"  class="btn btn-primary" href="#/my-history-bodyguard" role="button">Exclusive Bodyguard</a><a style="width: 200px;" class="btn btn-default" href="#/my-history-event" role="button">Event</a>
<br><br>

<form method="get" action="/search" id="search">
  <input name="q" type="text" size="40" placeholder="Search..." />
</form>

<div class="landing-pulang-bareng">
  <div class="row">
    <div class="col-md-12 col-sm-12 table-jobs"><br>
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="width: 10%;">Order ID</th>
            <th style="width: 30%;">Meet Point</th>
			<th style="width: 10%;"><i style="color:#000000; font-size: 20px;" class="glyphicon glyphicon-knight"></i></th>
            <th style="width: 10%;">Start Date</th>
            <th style="width: 10%;">End Date</th>
            <th style="width: 20%;">Price</th>
            <th style="width: 10%;">Status</th>
			<th style="width: 20%;">Payment Status</th>
          </tr>
        </thead>
        <tbody>
		  <tr>
            <td>523</td>
            <td>
              <p>
                Rajawali Street number 201 Bandung
              </p>
            </td>
			<td>1</td>
            <td>18/11/2016</td>
            <td>18/11/2016</td>
            <td id="must-black">Rp 600.000,00</td>
            <td style="color:green;">Finish</td>
			<td style="color:green;">Paid</td>
          </tr>
          <tr>
            <td>1123</td>
            <td>
              <p>
                Sudirman Street number 123 Bandung
              </p>
            </td>
			<td>1</td>
            <td>23/11/2016</td>
            <td>24/11/2016</td>
            <td id="must-black">Rp 1.200.000,00</td>
            <td style="color:green;">Confirmed</td>
			<td style="color:green;">Paid</td>
          </tr>
          <tr>
            <td>4523</td>
            <td>
              <p>
                Sudirman Street number 123 Bandung
              </p>
            </td>
			<td>5</td>
            <td>20/12/2016</td>
            <td>26/12/2016</td>
            <td id="must-black">Rp 34.600.000,00</td>
            <td style="color:black;">Wait For Confirmation</td>
			<td style="color:Orange;">Not Paid</td>
          </tr>
		  <tr>
            <td>4523</td>
            <td>
              <p>
                Sudirman Street number 123 Bandung
              </p>
            </td>
			<td>5</td>
            <td>02/1/2017</td>
            <td>02/1/2017</td>
            <td id="must-black">Rp 600.000,00</td>
            <td style="color:red;">Cancel</td>
			<td style="color:orange;">Not Paid</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
