<link rel="stylesheet" href="assets/css/pulang-bareng.css">
<link rel="stylesheet" href="assets/css/search-costum.css">
<a style="width: 200px;" class="btn btn-primary" href="#/my-history" role="button" ><i>Pulang Bareng</i></a><a style="width: 200px;" class="btn btn-default" href="#/my-history-bodyguard" role="button">Exclusive Bodyguard</a><a style="width: 200px;" class="btn btn-default" href="#/my-history-event" role="button">Event</a>
<br><br>

<form method="get" action="/search" id="search">
  <input name="q" type="text" size="40" placeholder="Search..." />
</form>

<div class="landing-pulang-bareng">
  <div class="row">
    <div class="col-md-12 col-sm-12 table-jobs"><br>
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="width: 10%;">Room</th>
			<th style="width: 10%;">Room type</th>
            <th style="width: 30%;">Route</th>
            <th style="width: 10%;">Start Hour</th>
            <th style="width: 10%;">Total Participant</th>
			<th style="width: 10%;"><i style="color:#000000; font-size: 20px;" class="glyphicon glyphicon-knight"></i></th>
            <th style="width: 10%;">Join Time</th>
            <th style="width: 10%;">Price</th>
          </tr>
        </thead>
        <tbody>
		  <tr>
            <td>1</td>
            <td>Public </td>
			<td>Sudirman <i class="glyphicon glyphicon-chevron-right"></i> Kb. Jeruk <i class="glyphicon glyphicon-chevron-right"></i> Marunda <i class="glyphicon glyphicon-chevron-right"></i> ...</td>
            <td>23.30 WIB</td>
            <td>20</td>
            <td id="must-black">3</td>
			<td>28/10/2016 at 23.20 WIB</td>
            <td>RP 50.000</td>
          </tr>
         <tr>
            <td>2</td>
            <td>Hot Hour </td>
			<td> Ciumbuleuit <i class="glyphicon glyphicon-chevron-right"></i> DagoPakar <i class="glyphicon glyphicon-chevron-right"></i> Dago <i class="glyphicon glyphicon-chevron-right"></i> Dipatiukur <i class="glyphicon glyphicon-chevron-right"></i> Gedung Sate <i class="glyphicon glyphicon-chevron-right"></i> ...</td>
            <td>22.30 WIB</td>
            <td>40</td>
            <td id="must-black">7</td>
			<td>31/10/2016 at 21.00 WIB</td>
            <td>RP 5.000</td>
          </tr>
		  <tr>
            <td>3</td>
            <td>Public </td>
			<td>BIP <i class="glyphicon glyphicon-chevron-right"></i> Jalan Garuda <i class="glyphicon glyphicon-chevron-right"></i> KOPO <i class="glyphicon glyphicon-chevron-right"></i> ...</td>
            <td>00.30 WIB</td>
            <td>18</td>
            <td id="must-black">2</td>
			<td>28/10/2016 at 22.33 WIB</td>
            <td>RP 40.000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
