<link rel="stylesheet" href="assets/css/pulang-bareng.css">
<a style="width: 200px;" class="btn btn-default" href="#/exclusive-bodyguard" role="button" ><i>My Bodyguard</i></a><a style="width: 200px;"  class="btn btn-primary" href="#/exclusive-bodyguard-create" role="button">Order Bodyguard</a>

        <div class="box-header">
		<br><br>
            <h3 class="box-title" id="must-black">Form Order Exclusive Bodyguard</h3>
        </div>
        <div class="box-body text-left">
            <form class="form-horizontal">
                <input type="hidden" name="_token" value="WJEot6GfpYx0RUNhxUWEchuhkwCmQvTM7gUrPAap">

                <!-- beginning of my form TODO: -->
                <!-- TICKET CODE -->
                <div class="form-group">
  
                </div>

                <!-- Name -->
                <div class="form-group">
                    <label for="order-name" class="col-sm-2 control-label">Meet Point</label>

                    <div class="col-sm-6">
                        <img src="assets/img/MAP/meetpoint.PNG" alt="" width="600px" height="250px" />
                    </div>
                </div>

                <!-- Address -->
                <div class="form-group">
                    <label for="order-address" class="col-sm-2 control-label">Start Date</label>

                    <div class="col-sm-6">
                        <input type="date" name="address" id="order-address" class="form-control" value="23/12/2016"/>
                    </div>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label for="order-email" class="col-sm-2 control-label">End Date</label>

                    <div class="col-sm-6">
                        <input type="date" name="email" id="order-email" class="form-control" value="23/12/2016">
                                            </div>
                </div>

                <!-- Handphone -->
                <div class="form-group">
                    <label for="order-handphone" class="col-sm-2 control-label">Total Bodyguard</label>

                    <div class="col-sm-6">
                        <input type="number" name="handphone" id="order-handphone" class="form-control" value="2">
                                            </div>
                </div>
				
				<!-- Handphone -->
                <div class="form-group">
                    <label for="order-handphone" class="col-sm-2 control-label">Price</label>

                    <div class="col-sm-6">
                        <p id="must-black">Rp 1.200.000</p>
                    </div>
                </div>
                <!-- end of myform -->

                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-2">
                        <button ng-click="showSuccess()" name="button" class="btn btn-success"><i class="fa fa-check"></i> Order</button>
                    </div>
                </div>
            </form>
        </div><!-- /.box-body -->

