<link rel="stylesheet" href="assets/css/pulang-bareng.css">
<link rel="stylesheet" href="assets/css/search-costum.css">
<link rel="stylesheet" href="assets/css/events.css">
<a style="width: 200px;" class="btn btn-primary" href="#/exclusive-bodyguard" role="button" ><i>My Bodyguard</i></a><a style="width: 200px;" class="btn btn-default" href="#/exclusive-bodyguard-create" role="button">Order Bodyguard</a>
<br><br>

<form method="get" action="/search" id="search">
  <input name="q" type="text" size="40" placeholder="Search..." />
</form>

<div class="thumb-aspirasi">
  <div class="row">
      <div class="col-xs-12">
          <div class="col-aspirasi">
              <h3>Order ID : 2233</h3>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="col-aspirasi">
            <h4>Meet Point : Sudirman Street number 221</h4>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="col-aspirasi">
            <h4>Start Date : Dec 20th 2016</h4>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="col-aspirasi">
            <h4>End Date : Dec 26th 2016</h4>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="col-aspirasi">
            <h4>Number of Guards : 10</h4>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="col-aspirasi">
            <h4>Price : Rp. 30.000.000,00</h4>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="col-aspirasi">
            <h4>Status : <a href="#/landing-event-meeting" type="button" class="btn btn-outline-default">WAITING FOR CONFIRMATION</a></h4>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="col-aspirasi">
            <h4>Payment Status : <button type="button" class="btn btn-outline-warning">NOT PAID</button></h4>
        </div>
    </div>
  </div>
</div>

<div class="thumb-aspirasi">
  <div class="row">
      <div class="col-xs-12">
          <div class="col-aspirasi">
              <h3>Order ID : 2011</h3>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="col-aspirasi">
            <h4>Meet Point : Sudirman Street number 221</h4>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="col-aspirasi">
            <h4>Start Date : Nov 22th 2016</h4>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="col-aspirasi">
            <h4>End Date : Nov 24th 2016</h4>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="col-aspirasi">
            <h4>Number of Guards : 5</h4>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="col-aspirasi">
            <h4>Price : Rp. 5.000.000,00</h4>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="col-aspirasi">
            <h4>Status : <a href="#/landing-event-meeting" type="button" class="btn btn-outline-primary">MEETING</a></h4>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="col-aspirasi">
            <h4>Payment Status : <button type="button" class="btn btn-outline-warning">NOT PAID</button></h4>
        </div>
    </div>
  </div>
</div>

<div class="thumb-aspirasi">
  <div class="row">
      <div class="col-xs-12">
          <div class="col-aspirasi">
              <h3>Order ID : 2011</h3>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="col-aspirasi">
            <h4>Meet Point : Sudirman Street number 221</h4>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="col-aspirasi">
            <h4>Start Date : Nov 10th 2016</h4>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="col-aspirasi">
            <h4>End Date : Nov 11th 2016</h4>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="col-aspirasi">
            <h4>Number of Guards : 2</h4>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="col-aspirasi">
            <h4>Price : Rp. 1.200.000,00</h4>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="col-aspirasi">
            <h4>Status : <a href="#/landing-event-meeting" type="button" class="btn btn-outline-success">CONFIRMED</a></h4>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="col-aspirasi">
            <h4>Payment Status : <button type="button" class="btn btn-outline-success">PAID</button></h4>
        </div>
    </div>
  </div>
</div>
