<link rel="stylesheet" href="assets/css/pulang-bareng.css">
<link rel="stylesheet" href="assets/css/search-costum.css">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="bower_components/AdminLTE/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="bower_components/AdminLTE/dist/css/AdminLTE.css">
<link rel="stylesheet" href="assets/css/very-custom.css">
<link rel="stylesheet" type="text/css" href="bower_components/sweetalert/dist/sweetalert.css">
<link rel="stylesheet" href="bower_components/AdminLTE/dist/css/skins/skin-blue.css">
<a style="width: 100px;" class="btn btn-default" href="#/landing-friend" role="button" ><i>My Friend</i></a><a style="width: 100px;" class="btn btn-primary" href="#/landing-friend-add" role="button">Add Friend</a>
<br><br>

<form method="get" action="/search" id="search">
  <input name="q" type="text" size="40" placeholder="Search Friend" value="Rose Pearce" />
</form>

<div class="landing-pulang-bareng">
  <div class="row">
    <div class="col-md-12 col-sm-12 table-jobs"><br>
      <table class="table table-hover">
        <tbody>
          <tr>
            <td><img src="assets/img/glorious.jpg" class="img-circle" alt="User Image" height=250px width=250px></td>
          </tr>
		  <tr>
			<td><h1 style="text-align:center;">Rose Pearce</h1></td>
          </tr>
		  <tr>
			<td><button ng-click="showSuccess()" style="text-align:center;" name="button" class="btn btn-success"><i class="fa fa-check"></i> Add Friend</button></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>
