<link rel="stylesheet" href="assets/css/pulang-bareng.css">
<link rel="stylesheet" href="assets/css/search-costum.css">
<a style="width: 200px;" class="btn btn-default" href="#/my-history" role="button" ><i>Pulang Bareng</i></a><a style="width: 200px;" class="btn btn-default" href="#/my-history-bodyguard" role="button">Exclusive Bodyguard</a><a style="width: 200px;" class="btn btn-primary" href="#/my-history-event" role="button">Event</a>
<br><br>

<form method="get" action="/search" id="search">
  <input name="q" type="text" size="40" placeholder="Search..." />
</form>

<div class="landing-pulang-bareng">
  <div class="row">
    <div class="col-md-12 col-sm-12 table-jobs"><br>
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="width: 30%;">Name Event</th>
            <th style="width: 10%;">Vanue</th>
			<th style="width: 10%;">Start Date</th>
            <th style="width: 10%;">End Date</th>
            <th style="width: 10%;">Guards</th>
            <th style="width: 10%;">Price</th>
            <th style="width: 10%;">Status</th>
			<th style="width: 10%;">Payment Status</th>
          </tr>
        </thead>
        <tbody>
		  <tr>
            <td>Coldplay Release Album</td>
            <td>Bali </td>
			<td>25/10/2016</td>
            <td>26/10/2016</td>
            <td>30</td>
            <td id="must-black">Rp 10.000.000,00</td>
			<td style="color:green;">Confirmed</td>
            <td style="color:green;">Paid</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
