<link rel="stylesheet" href="assets/css/pulang-bareng.css">
<div class="box box-solid">
  <div class="box-header">
      <img class="img-circle" src="assets/img/glorious.jpg" alt="" width="150px" height="150px" />
  </div>
  <div class="box-body text-left">
      <!-- Ticket Code -->
      <div class="row">
          <div class="form-group">
              <label for="ticket-code" class="col-sm-2 control-label">Name</label>

              <div class="col-sm-6">
                  Christina Pearce
              </div>
          </div>
      </div>
      <hr>
      <!-- SIGNATURE -->
      <div class="row">
          <div class="form-group">
              <label for="order-signature" class="col-sm-2 control-label">Address</label>

              <div class="col-sm-6">
                ID, Ciumbuleuit 94
              </div>
          </div>
      </div>
      <hr>
      <!-- Ticket order id -->
      <div class="row">
          <div class="form-group">
              <label for="ticket-order-id" class="col-sm-2 control-label">E-mail</label>

              <div class="col-sm-5">
                christina@pearce.com
              </div>
          </div>
      </div>
      <hr>
      <!-- Ticket type id -->
      <div class="row">
          <div class="form-group">
              <label for="ticket-type-id" class="col-sm-2 control-label">Phone Number</label>
              <div class="col-sm-3">
                  555-123-098
              </div>
          </div>
      </div>
      <hr>
      <!-- Ticket order date -->
      <div class="row">
          <div class="form-group">
              <label for="ticket-order-date" class="col-sm-2 control-label">Gender</label>
              <div class="col-sm-3">
                Women
              </div>
          </div>
      </div>

      <!-- Ticket active date -->
      <div class="row">
          <div class="form-group">
              <label for="ticket-active-date" class="col-sm-2 control-label">Balance</label>
              <div class="col-sm-3">
                Rp. 50.000,00
              </div>

          </div>
      </div>

      <!-- Ticket check in date -->
      <br>
      <div class="row">
          <div class="form-group">
              <label for="ticket-check-in-date" class="col-sm-2 control-label"></label>
              <div class="col-sm-3 col-sm-12 col-md-7 col-md-12">
                <button style="text-align:center;" class="btn btn-outline-default" href="#" ng-click="topup()">TOP UP</button>
              </div>
          </div>
      </div>

      <!-- Control -->
      <div class="row">
          <div class="form-group">
              <div class="col-sm-6 col-sm-offset-2">
                  <!--
                  <a href="http://localhost:8000/tickets/1/edit" class="btn btn-default"><i class="fa fa-pencil"></i> Edit</a>
                  <form action="http://localhost:8000/tickets/1" method="post" style="display: inline">
                      <input type="hidden" name="_token" value="WJEot6GfpYx0RUNhxUWEchuhkwCmQvTM7gUrPAap">
                      <input type="hidden" name="_method" value="DELETE">

                      <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure want to delete this item?')"><i class="fa fa-trash-o"></i> Delete</button>
                  </form>
                -->
              </div>
          </div>
      </div>
  </div><!-- /.box-body -->
</div>
