<link rel="stylesheet" href="assets/css/pulang-bareng.css">
<link rel="stylesheet" href="assets/css/search-costum.css">
<div class="add-button">
		<a href="#/create-room"><img class="add-icon" src="assets/img/add.png"></a>
</div>
<a style="width: 100px;" class="btn btn-default" href="#/pulang-bareng" role="button" ><i>HOT HOUR</i></a><a style="width: 100px;" class="btn btn-primary" href="#/pulang-bareng-room" role="button">ROOM</a>
<br><br>
<form method="get" action="/search" id="search">
  <input name="q" type="text" size="40" placeholder="Search..." />
</form>
<div class="landing-pulang-bareng">
  <div class="row">
    <div class="col-md-12 col-sm-12 table-jobs"><br>
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="width: 10%;">Room</th>
            <th style="width: 30%;">Route</th>
            <th style="width: 20%;">Start Hour</th>
            <th style="width: 10%;"><i style="color:#000066; font-size: 20px;" class="fa fa-user-circle"></i></th>
            <th style="width: 10%;"><i style="color:#990000; font-size: 20px;" class="glyphicon glyphicon-knight"></i></th>
            <th style="width: 10%;"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <p>
                Sudirman <i class="glyphicon glyphicon-chevron-right"></i> Kb. Jeruk <i class="glyphicon glyphicon-chevron-right"></i> Marunda <i class="glyphicon glyphicon-chevron-right"></i> ...
              </p>
            </td>
            <td>23.30 WIB</td>
            <td id="must-black">5</td>
            <td id="must-black" style="color:#990000;">2</td>
            <td><a class="btn btn-outline-success" href="#/pulang-bareng-room-detail">Join</a></td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <p>
                Ciumbuleuit <i class="glyphicon glyphicon-chevron-right"></i> DagoPakar <i class="glyphicon glyphicon-chevron-right"></i> Dago <i class="glyphicon glyphicon-chevron-right"></i> Dipatiukur <i class="glyphicon glyphicon-chevron-right"></i> Gedung Sate <i class="glyphicon glyphicon-chevron-right"></i> ...
              </p>
            </td>
            <td>00.30 WIB</td>
            <td id="must-black">5</td>
            <td id="must-black" style="color:#990000;">5</td>
            <td><a class="btn btn-outline-success" href="#/pulang-bareng-room-detail">Join</a></td>
          </tr>
          <tr>
            <td>3</td>
            <td>
              <p>
                BIP <i class="glyphicon glyphicon-chevron-right"></i> Jalan Garuda <i class="glyphicon glyphicon-chevron-right"></i> KOPO <i class="glyphicon glyphicon-chevron-right"></i> ...
              </p>
            </td>
            <td>01.30 WIB</td>
            <td id="must-black">5</td>
            <td id="must-black" style="color:#990000;">5</td>
            <td><a class="btn btn-outline-success" href="#/pulang-bareng-room-detail">Join</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
