
<link rel="stylesheet" href="bower_components/jquery-bar-rating/dist/themes/fontawesome-stars.css">
<link rel="stylesheet" href="assets/css/home.css">

<div class="landing-pulang-bareng">
  <div class="all">
		<ul class="rig">
			<li>
				<a class="rig-cell" href="#/pulang-bareng">
					<img class="rig-img" src="assets/img/home/pulangbareng1.jpg">
					<span class="rig-overlay"></span>
					<span class="rig-text">Pulang Bareng</span>
				</a>
			</li>
			<li>
				<a class="rig-cell" href="#/exclusive-bodyguard-create">
					<img class="rig-img" src="assets/img/home/bodyguard1.jpg" height="500">
					<span class="rig-overlay"></span>
					<span class="rig-text">Exclusive BodyGuard</span>
				</a>
			</li>
			<li>
				<a class="rig-cell" href="#/events">
					<img class="rig-img" src="assets/img/home/event1.jpg">
					<span class="rig-overlay"></span>
					<span class="rig-text">Security Events</span>
				</a>
			</li>
		</ul>
	</div>

</div>
